.backdrop {
    background-color: #dff3f7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #dff3f7;
}

.maincontent {
    width: 75vw;
    height: 70vh;
    box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.1);
    border-radius: 2rem;
    background-color: white;
    top:auto;
    padding: 20px;
}

.contentwrap {
    padding: 20px;
    height: 100%;
}

.formheader {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#formrow {
    height: 80%;
}

.formbutton {
    width: 100%;
    height: 60px;
    font-weight: bold;
    background-color: #2161cf;
    border-color: #2161cf;
}

.formbutton:hover {
    background-color: white;
    color: #2161cf;
}

.formbutton svg {
    margin-right: 5px;
}

.inputrow {
    justify-content: center;
    padding: 5px;
}

.formcontainer {
    padding: 25px;
}

.smoltext {
    font-size: 12px;
    color: gray;
    text-align: center;
}

a {
    text-decoration: none;
    color: #347cc9;
}

.formfooter {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.formheader h2 {
    text-align: center;
}

.header-subtext {
    text-align: center;
    color: gray;
}

.adminloginwrap {
    width: 40vw;
    padding: 20px;
    margin-bottom: 30px;
}

.adminloginrow {
    justify-content: center;
    align-items: center;
}

.nopad {
    padding: 0px;
}